## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [8]:
nts=['USA','CHINA','TAIWAN']
people=np.random.randint(100,size=3)
print(people)
print(nts)

[36 61 23]
['USA', 'CHINA', 'TAIWAN']

In [11]:
list_labels =['國家','人口']
list_cols =[nts,people]
zipped = list(zip(list_labels, list_cols))
rpt=pd.DataFrame(dict(zipped))
print(rpt)

       國家  人口
0     USA  36
1   CHINA  61
2  TAIWAN  23

In [16]:
rpt.sort_values(by='人口')

       國家  人口
2  TAIWAN  23
0     USA  36
1   CHINA  61

In [15]:
rpt.groupby(by='國家')['人口'].max()

國家
CHINA     61
TAIWAN    23
USA       36
Name: 人口, dtype: int32